<main class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <form enctype="application/x-www-form-urlencoded" role="form" (submit)="onAddTodo()" novalidate>
      <input [(ngModel)]="newText" class="new-todo" placeholder="What needs to be done" autofocus>
    </form>
  </header>
  <section class="main">
    <app-complete-all></app-complete-all>
    <app-todos-list></app-todos-list>
  </section>
  <footer class="footer" *ngIf="count > 0">
    <span class="todo-count">{{ activeCount }} items left</span>
    <ul class="filters">
      <li>
        <a href="#" [ngClass]="{'selected': filterMode === 'All'}" (click)="onChangeFilterMode('All')">All</a>
      </li>
      <li>
        <a href="#" [ngClass]="{'selected': filterMode === 'Active'}" (click)="onChangeFilterMode('Active')">Active</a>
      </li>
      <li>
        <a href="#" [ngClass]="{'selected': filterMode === 'Completed'}" (click)="onChangeFilterMode('Completed')">Completed</a>
      </li>
    </ul>
    <button class="clear-completed" *ngIf="count - activeCount > 0" (click)="onClearCompleted()">Clear completed</button>
  </footer>
</main>
<footer class="info">
  <p>Double-click to edit a todo</p>
</footer>
